<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <GenerateAntidotePackage>
        <processor type="Cognifide.AntidotePackage.Logic.Pipelines.AntidotePackage.Processors.GetAntidotePackageSources, Cognifide.AntidotePackage" />
        <processor type="Cognifide.AntidotePackage.Logic.Pipelines.AntidotePackage.Processors.CategorizeSources, Cognifide.AntidotePackage" />
        <processor type="Cognifide.AntidotePackage.Logic.Pipelines.AntidotePackage.Processors.GeneratePackageProject, Cognifide.AntidotePackage" />
        <processor type="Cognifide.AntidotePackage.Logic.Pipelines.AntidotePackage.Processors.AddExistingSources, Cognifide.AntidotePackage" />
        <processor type="Cognifide.AntidotePackage.Logic.Pipelines.AntidotePackage.Processors.AttachNonExistingSourcesInfo, Cognifide.AntidotePackage" />
        <processor type="Cognifide.AntidotePackage.Logic.Pipelines.AntidotePackage.Processors.AddPostInstallationFiles, Cognifide.AntidotePackage" />
        <processor type="Cognifide.AntidotePackage.Logic.Pipelines.AntidotePackage.Processors.AddMetadata, Cognifide.AntidotePackage" />
        <processor type="Cognifide.AntidotePackage.Logic.Pipelines.AntidotePackage.Processors.GenerateAntidotePackage, Cognifide.AntidotePackage" />
      </GenerateAntidotePackage>
    </pipelines>
  </sitecore>
</configuration>

